<div class="row">
  <div class="col-sm-6">
    <h1>Editar <%= @tool.nombre %></h1>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to tool_path(@tool), class: 'btn btn-primary' do %>
      Volver
    <% end %>  
  </div>
</div>  

<%= render 'form', tool: @tool %>
