
<div class="card-deck">
<a href="<%= tools_path %>" style="text-decoration: none">
  <div class="shadow card border-primary mb-3 ml-0" style="max-width: 16rem;">
    
    <div class="card-body text-primary">
      <h2 class="card-title"><i class="fas fa-tools"></i> Bodega</h2>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  </a>

<a href="<%= tools_path %>" style="text-decoration: none">
  <div class="shadow card border-danger mb-3 ml-0" style="max-width: 16rem;">
    
    <div class="card-body text-danger">
      <h2 class="card-title"><i class="fas fa-tools"></i> Terreno</h2>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  </a>

  <a href="<%= tools_path %>" style="text-decoration: none">
  <div class="shadow card border-warning mb-3 ml-0" style="max-width: 16rem;">
    
    <div class="card-body text-warning">
      <h2 class="card-title"><i class="fas fa-warehouse"></i> Insumos</h2>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  </a>

  <a href="<%= tools_path %>" style="text-decoration: none">
  <div class="shadow card border-info mb-3 ml-0" style="max-width: 16rem;">
    
    <div class="card-body text-info">
      <h2 class="card-title"><i class="fas fa-user-shield"></i> EPP</h2>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  </a>

</div>
