
<%= render 'boxes' %>
<br>
<h3>Ultimos EPP entregados</h3>
<%= render 'epp' %>
<h3>Ultimos insumos entregados</h3>
<%= render 'insumos' %>
<h3>Herramientas pendientes de entrega</h3>
<%= render 'herramientas' %>
