
<div class="card-deck">
<a href="<%= herramienta_path %>">
  <div class="shadow card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Herramientas en bodega</div>
    <div class="card-body text-primary">
      <h1 class="card-title"><i class="fas fa-tools"></i> Bodega</h1>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  </a>


  <div class="shadow card border-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">Herramientas en terreno</div>
    <div class="card-body text-danger">
      <h1 class="card-title"><i class="fas fa-tools"></i> Terreno</h1>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  <div class="shadow card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Insumos</div>
    <div class="card-body text-warning">
      <h1 class="card-title"><i class="fas fa-warehouse"></i> Insumos</h1>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>
  <div class="shadow card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">EPP</div>
    <div class="card-body text-info">
      <h1 class="card-title"><i class="fas fa-user-shield"></i> EPP</h1>
      <p class="card-text">Some quick example text to build on the card title .</p>
    </div>
  </div>

</div>
